.notification__button {
    border: none;
    // font-size: 1.5rem;
    background-color: black;
}

.modal__container {
    position: fixed;
    top: 90px;
    height: 60vh;
    background-color: #282828;
    width: 400px;
    right: 0px;
    color: #fff;
    border-radius: 20px;
    padding: 15px 20px;

    .modal__message {
        .modal__message__time {
            font-size: 0.7rem;
        }
    }
}