.login_container{
    background-image: url("https://static.showit.co/1600/ulprm_IOQ3q3zW3VVqAjrA/126728/home_hero.jpg");
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
     background-repeat: repeat;
    flex-direction: column;
    h2{
        margin-bottom: 30px;
        font-size: 40px;

    }

    .login_container_chirld{
        background-color: rgb(252, 246, 246);
        opacity: 0.75;
        width: 650px !important;
        padding:70px 50px !important;
        
    }

}