.stylist{
   width: 100%;
   background-color: rgb(249, 243, 240);
    .container{
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 40px;

        .our_service_top{
            padding-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            p{
                color: rgb(194, 133, 101);
                font-size: 1.2rem;
            }
            img{
                padding: 15px 0;
            }
            h2{
                font-size: 48px;
                font-weight: 500;
                line-height: 1.2;
              
            }
        }
        .categories__slider{
          
            margin-top: 5px;
            width: 100%;
            // height: 260px;
    
            .sale_carou{
                width: 100%;
                .sale_carou_chirl{
                    position: relative;
                    height: 100%;
                    background-color: red($color: #000000);
                    .off{
                        position: absolute;
                        background-color: black;
                        color: #fff;
                        padding: 4px;
                        left: 30%;
                        top: 10px;
                    }
                    img{
                        padding-top: 10px;
                        width: 85%;
                        // height: 220px;
                        border-radius: 15% 15% 0% 0%;
                        opacity: 1;
                        display: block;
                        transition: .5s ease;
                        backface-visibility: hidden;
                    }
                    .sale_carou_title{
                            padding: 10px;
                            background-color: rgb(14, 8, 14);
                            // width: 200px;
                            transition: .5s ease;
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 40%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            text-align: center;
                          
                    }
                }
                .sale_carou_chirl:hover .image{
                    opacity: 0.8;

                }
                .sale_carou_chirl:hover .sale_carou_title{
                    opacity: 1;

                }
            }
        }

    }

}