.booking_container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 70vh;

  .booking_calendar {
    margin-top: 50px;

    .booking_calendar_wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  .booking_left {
    width: 25%;
    background-color: #161616;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .booking_left_step {
      padding: 10px;
      font-size: 1.25rem;
      cursor: pointer;
      background-color: #fff;
      color: black;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .booking_left_step.showService {
      background-color: #f4e7e1;
    }

    .booking_left_step.showTime {
      background-color: #f4e7e1;
    }

    .booking_left_step.showInformation {
      background-color: #f4e7e1;
    }

    .booking_left_step.showPayment {
      background-color: #f4e7e1;
    }
  }

  .booking_right {
    padding: 30px;
    width: 80%;

    .booking_right_service {
      // display: flex;

      .booking_right_service_detail {
        width: 90%;
        display: flex;
        height: 260px;
        margin-bottom: 20px;
        border: 1px solid rgb(206, 205, 205);
        border-radius: 16px;
        padding: 5px 30px;

        .booking_right_service_detail_choose {
          width: 45%;
          height: 245px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;


          .service_image {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-bottom: 15px;
          }

          .service_choose_button {
            border: 2px solid rgb(110, 110, 110);
            padding: 5px 10px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            width: 60%;
            // margin-top: 5px;
            font-weight: bold;
          }
        }

        .staff_list {
          margin-top: 5px;
          width: 70%;

          .staff_list_item {
            display: flex;
            align-items: center;
            border: 2px solid rgb(172, 171, 171);
            border-radius: 16px;
            padding: 6px;
            cursor: pointer;
            margin-bottom: 10px;
            height: 50px;

            &:hover {
              background-color: #ebebeb;
            }

            h5 {
              margin: 0;
              color: black;
              font-size: 1rem;
            }

            p {
              margin: 0;
            }

            .staff_avatar {
              width: 40px;
              border-radius: 50%;
              height: 40px;
              object-fit: cover;
              margin-right: 20px;
            }

            .staff_information {
              margin-left: 20px;


            }


          }
        }
      }
    }
  }
}

.active {
  background-color: black;
  color: #fff;
}

.show {
  background-color: #d6d6d6;
}

.booking_right_service_button {
  display: flex;
  justify-content: end;

  .continue_button {
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
    opacity: 0.3;
  }

  .continue_button.enable {
    opacity: 1;
  }
}

.infor_container {
  padding: 20px;

  h4 {
    font-weight: 550;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  label {
    font-size: 1.3rem;

  }

  input {
    border-radius: 12px;
    padding: 10px;
    width: 90%;
    outline: none;
    font-size: 1.2rem;
  }

  .continue_button {
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
    margin-left: 76%;
  }

}

.payment_container {
  padding: 20px;
  color: black;

  h4 {
    font-weight: 550;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .sumamry {
    font-size: 1.3rem;
  }

  .payment_detai {
    display: flex;
    width: 54%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(189, 185, 185);
    padding-bottom: 10px;
    margin-bottom: 30px;

    span {
      font-size: 1.2rem;
    }


  }

  .subtotal {
    margin-left: 42%;
    font-size: 1.2rem;
  }

  .voucher_container {
    label {
      font-size: 1.2rem;
    }

    input {
      padding: 5px 10px;
      width: 42%;
      border-radius: 10px;
      margin-right: 10px;
    }

    .btn_voucher {
      padding: 4px 15px;
      border-radius: 8px;
      background: black;
      color: #fff;
    }

  }

  .total_amount {
    font-size: 1.3rem;
    font-weight: 550;
    margin-left: 35%;
    margin-top: 30px;
  }

  .checkout {
    text-align: center;
    padding: 5px 15px;
    margin-left: 41%;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    margin-top: 30px;

  }

  .checkout:hover {
    background-color: #fff;
    color: black;
  }


}

.error_message {
  color: red;
  font-size: 0.7rem;
}

.btn-80,
.btn-80 *,
.btn-80 :after,
.btn-80 :before,
.btn-80:after,
.btn-80:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-80 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-80:disabled {
  cursor: default;
}

.btn-80:-moz-focusring {
  outline: auto;
}

.btn-80 svg {
  display: block;
  vertical-align: middle;
}

.btn-80 [hidden] {
  display: none;
}

.btn-80 {
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  //   display: block;
  overflow: hidden;
  padding: 0.3rem 2rem;
  position: relative;
  text-transform: uppercase;
}

.btn-80 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-80:before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.btn-80:hover:before {
  -webkit-animation: progress-bar 1.2s;
  animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }
}

.bounce-alert {
  // display: inline-block;
}

.bounce-alert .ant-alert-message {
  display: inline-block;
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(2px);
  }
}

.wave-alert {
  display: inline-block;
}

.wave-alert .ant-alert-message {
  display: inline-block;
  position: relative;
  font-size: 24px;
  /* Adjust the font size as needed */
}

.wave-alert .ant-alert-message span {
  display: inline-block;
  animation: wave 0.5s infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }
}

.booking_choose_right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  // align-items: center;
  justify-content: center;

  .booking_choose_right_inforservice {
    p {
      margin: 0;
    }
  }
}