.service_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(249, 243, 240);
    .service_banner{
        position: relative;
        .service_banner_content{
            position: absolute;
            top: 150px;
            left: 900px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 600px;
            h1{
                font-size: 3.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
    .service_content{
        max-width: 1440px;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        .service_item{
            padding: 20px 40px;
            width: 44%;
            display: flex;
            background-color:#fff;
            border-radius: 16px;
            justify-content: space-between;
            align-items: center;
            img{
                width: 47%;
                border-radius: 20%;
                
            }
            .service_item_detail{
                display: flex;
                flex-direction: column;
                button{
                    margin-top: 30px;
                }
                h3{
                    color:  rgb(194, 133, 101);
                    font-size: 1.6rem;
                    border-bottom: 1px solid;
                    display: flex;
                    justify-content: center;
                 
                    margin-bottom: 20px;
                }
                line-height: 2;
                width: 45%;
                .price_item{
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    .price_number{
                        color:  rgb(194, 133, 101);
                    }

                }

            }
        }

    }


}
.btn-21,
.btn-21 *,
.btn-21 :after,
.btn-21 :before,
.btn-21:after,
.btn-21:before {
//   border: 0 solid;
  box-sizing: border-box;
}
.btn-21 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#e48a24, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-21:disabled {
  cursor: default;
}
.btn-21:-moz-focusring {
  outline: auto;
}
.btn-21 svg {
  display: flex;
  vertical-align: middle;
}
.btn-21 [hidden] {
  display: none;
}
.btn-21 {
  border-radius: 12px;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 2rem;
  position: relative;
}
.btn-21 span {
  mix-blend-mode: difference;
}
.btn-21:before {
  -webkit-animation: move-out 0.3s;
  animation: move-out 0.3s;
  background: #fff;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}
.btn-21:hover:before {
  -webkit-animation: move-in 0.3s forwards;
  animation: move-in 0.3s forwards;
}
@-webkit-keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
