.container_edit_voucher {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 1001;

    .container_edit_chirld{
        width: 600px;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        height: 570px;

        .add_service_content {
            padding: 10px 50px;
                text-align: left;
            .edit_voucher{
                margin-top: 10px;
                select{
                    padding:7px 20px;
                    border-radius: 8px;
                    font-size: 1.1rem;
                }
                p{
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 20px;
                 
                }
                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 20px;
                }

                input {
                    margin-bottom: 10px;
                    width: 90%;
                    padding: 5px 10px;
                    border-radius: 8px;
                    font-size: 1.1rem;
                }



                .button_container{
                    margin-left: 210px;
                    margin-top: 15px;
                    button{
                        margin-right: 20px;
                    }


                }
                .fa-solid {
                    font-size: 1.5rem;
                    margin-top: 20px;
                }

                

            }

            .add_content input {
                width: 500px;
                height: 40px;
                border-radius: 5px;
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }
    tbody tr td{
    
        height: 90px;
        padding: 0 !important;
        text-align: center;
        
    }
    .render_service_item {
            padding: 10px !important;
            text-align: center; /* Căn giữa nội dung theo chiều ngang */
            vertical-align: middle; /* Căn giữa nội dung theo chiều dọc (đối với các ô có chiều cao cố định) */
            max-width: 150px;
           
          }
          .desc{
            max-height: 90px;
            overflow-y: scroll;
          }
    
   
    
   
    .slider.round:before {
        border-radius: 50%;
    }
    
}