.container_edit {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 1001;

    .container_content {
        width: 600px;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        height: 650px;

        .add_service_content {
            // display: flex;
            margin-left: 50px;
            gap: 100px;

            .add_image {
                margin-top: 10px;
            }

            .add_content {
                margin-top: 30px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 20px;
                }

                input {
                    margin-bottom: 10px;
                    padding: 10px;
                    font-size: 25px;
                }



                .button {
                    margin-left: 300px;
                    margin-top: 15px;

                }

                .button button {
                    margin-left: 20px;
                }

            }

            .add_content input {
                width: 500px;
                height: 40px;
                border-radius: 5px;
            }
        }
    }
}