table,
th,
td {
    text-align: center;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    // width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.customer_detail_container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 1001;

    .customer_detail_container_content {
        width: 900px;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        height: 650px;
        max-height: 650px;
        overflow-y: scroll;


        .customer_container_content {
            margin: 30px;

            .customer_appointments {
                display: flex;

                .customer_appointments_item {
                    display: flex;
                    font-weight: bold;
                    font-size: 20px;

                    p {
                        padding: 2px 10px;
                    }
                }
            }

            .customer_appointmentDetails {
                margin-bottom: 15px;
                padding: 10px;
                border: 1px solid #ccc;
                background-color: #f8f8f8;

                p {
                    margin: 0;
                    padding: 5px;

                    span {
                        font-weight: bold;
                        color: #7fd24b; // You can choose your own color
                    }
                }
            }
        }

        .Cancle_button {
            float: right;
            padding: 10px;
        }



    }
}