.navbar_container {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: hsl(22, 46%, 92%);
    .navbar_container_chirld {
        max-width: 1440px;
        margin: 0 auto;
    }

    .navbar_container_top {
        background-color: hsl(22, 46%, 92%);

    }

    .navbar_container_bottom {
        background-color: black;
        color: #fff;

        .navbar_container_chirld {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }

        .navbar_logo {
            width: 10%;

            img {
                margin-top: 5px;
                width: 100%;
            }
        }

        .navbar_center {
            width: 40%;
            display: flex;
            justify-content: space-between;
            span{
                cursor: pointer;
                position: relative;
            }:after{
                content: '';
                width: 0;
                height: 3px;
                background: #f8f8f8;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: 0.5s;
              }
             span:hover::after{
                width:100%;
              } 
              .about_title{
                cursor: pointer;
                position: relative;
            }:after{
                content: '';
                width: 0;
                height: 3px;
                background: #f8f8f8;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: 0.5s;
              }
             .about_title:hover::after{
                width:100%;
              } 
            .about_title{
                text-decoration: none;
                color: #f8f8f8;
            }
        }

        .navbar_right {
            width: 10%;
            display: flex;
            justify-content: space-evenly;
        }
    }

}