.admin {
    padding: 50px;

    .time__form {
        display: flex;
        flex-wrap: wrap;

        .form_group {
            width: 30%;
        }


    }
}

.mbsc-form-control-wrapper {
    width: 200px;
}

.save_button {
    margin-top: 20px;
    padding: 7px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
}