.admin {
    padding: 50px;

    .form_group {
        input {
            border: 1px solid black;
        }
    }

    .save_button {
        margin-top: 20px;
        padding: 7px 20px;
        background-color: black;
        color: #fff;
        border: none;
    }
}

.mbsc-form-control-wrapper {
    width: 200px;
}