.banner_container {
    width: 100%;
    background-color: hsl(20, 43%, 96%);
    font-family: 'Cormorant Garamond', serif;
    position: relative;

    .banner_container_chirld {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        padding: 3%;
        justify-content: space-between;

        .banner_chirld_left {
            width: 47%;
            display: flex;
            position: relative;

            img {
                // width: 50%;
            }

            .img1 {
                border-radius: 100px 0px 0px 0px;
                margin-bottom: 50px;
            }

            .img2 {
                border-radius: 0px 0px 100px 0px;
                padding-left: 20px;
                padding-top: 50px;
            }
        }

        .banner_chirld_right {
            width: 43%;

            .banner_detail_title {
                color: rgb(194, 133, 101);
                font-size: 1.2rem;
            }

            h2 {
                font-size: 2.6rem;
                font-weight: 400;
                margin-top: 25px;
            }
            img{
                margin-top: 25px;
            }

            .banner_detail_content {

                font-size: 1.2rem;
                border-left: 3px solid rgb(194, 133, 101);
                padding-left: 20px;
                margin-top: 25px;
                font-weight: 550;
                color: gray;

            }
        }

    }

    .our_service_container {
        width: 100%;

        .our_service_container_chirld {
            background-color: #fff;
            max-width: 1440px;
            margin: 0 auto;

            .our_service_top {
                padding-top: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 250px;

                p {
                    color: rgb(194, 133, 101);
                    font-size: 1.2rem;
                }

                img {
                    padding: 15px 0;
                }

                h2 {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 1.2;

                }
            }

            .our_service_bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2% 10%;
                flex-wrap: wrap;
                gap: 30px;

                .service_item {
                    width: 31%;
                    background-color: rgb(249, 243, 240);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    padding: 25px;

                    img {
                        padding: 10px 0;
                    }

                    .title {
                        font-weight: 550;
                        font-size: 1.3rem;
                    }

                    .content {
                        color: gray;
                        line-height: 2;
                        font-size: 1.1rem;
                    }

                }

            }
        }
    }

    .leas {
        position: absolute;
        top: 460px;
        transform: translateY(0px);
        animation: float 6s ease-out infinite;
    }

    .leas-green {
        position: absolute;
        top: 960px;
        right: 0px;
        transform: translateY(0px);
        animation: float 6s ease-out infinite;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.circle-spin {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 60px;
    left: 280px;
}

.circle-logo {
    position: absolute;
    left: 50%;
    top: 48%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // background: orange;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 1px solid hsl(21, 43%, 58%);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: -5px;
}

.circle-title {
    background: hsl(20, 43%, 96%);
    display: inline-block;
    min-height: 142px;
    min-width: 142px;
    border-radius: 50%;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    color: hsl(21, 43%, 58%);
    line-height: 12px;
    text-align: center;
    -webkit-font-feature-settings: "pnum" on, "lnum" on;
    font-feature-settings: "pnum" on, "lnum" on;
    animation: spin 10s infinite alternate-reverse;

    span {
        min-height: 65px;
        position: absolute;
        min-width: 65px;
        left: 38px;
        top: 5px;
        -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: 17deg;
        -ms-transform: 17deg;
        transform: 17deg;
    }
    .char1 {
        transform: rotate(calc(17deg * 1));
    }
    .char2 {
        transform: rotate(calc(17deg * 2));
    }

    .char3 {
        transform: rotate(calc(17deg * 3));
    }

    .char4 {
        transform: rotate(calc(17deg * 4));
    }

    .char5 {
        transform: rotate(calc(17deg * 5));
    }

    .char6 {
        transform: rotate(calc(17deg * 6));
    }

    .char7 {
        transform: rotate(calc(17deg * 7));
    }

    .char8 {
        transform: rotate(calc(17deg * 8));
    }

    .char9 {
        transform: rotate(calc(17deg * 9));
    }

    .char10 {
        transform: rotate(calc(17deg * 10));
    }

    .char11 {
        transform: rotate(calc(17deg * 11));
    }

    .char12 {
        transform: rotate(calc(17deg * 12));
    }

    .char13 {
        transform: rotate(calc(17deg * 13));
    }

    .char14 {
        transform: rotate(calc(17deg * 14));
    }

    .char15 {
        transform: rotate(calc(17deg * 15));
    }

    .char16 {
        transform: rotate(calc(17deg * 16));
    }

    .char17 {
        transform: rotate(calc(17deg * 17));
    }

    .char18 {
        transform: rotate(calc(17deg * 18));
    }




}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}